/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base layer for existing attributes */
@layer base {
  h1 {
    @apply text-xl text-white;
  }
  ,
  body {
    @apply m-0 p-0 overflow-hidden;
  }
}

/* Components with different variants such as responsiveness and hover*/
@layer components {
  .nav-container {
    @apply fixed top-0 left-0 h-screen flex flex-col w-24 shadow-lg 
         bg-primary text-secondary z-10;
  }
  .sidebar-icon {
    @apply relative flex items-center justify-center
               h-16 w-16 my-2 mx-auto shadow-2xl bg-gray-800 text-green-500
               hover:bg-green-600 hover:text-white
               rounded-3xl transition-all duration-300 ease-linear
               cursor-pointer hover:rounded-xl;
  }
  .sidebar-tooltip {
    @apply absolute w-auto p-4 m-2 min-w-max left-20 hidden
           rounded-md shadow-md text-white bg-gray-900
           text-xs font-bold transition-all duration-100
           origin-left group-hover:block;
  }
  .selected-nav {
    @apply bg-green-600 text-white rounded-xl;
  }
  .pages {
    @apply ml-24 w-full h-screen bg-main;
  }
  .spinner {
    animation: spin 5s linear infinite;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.b-test-red {
  border: solid 2px red;
}
.b-test-green {
  border: solid 2px green;
}
.b-test-blue {
  border: solid 2px blue;
}
