node_modules/
mobile/node_modules
client/node_modules
server/node_modules
client/build
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
client/.DS_Store
mobile/.DS_Store
server/.DS_Store
